:root {
	--light-black: #23252C;

	font-family: Inter, Arial, Verdana, Geneva, sans-serif;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	border: none;
}

.flex-row {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

body {
	height: 100vh;

	background-color: var(--light-black);

	justify-content: center;
	align-items: center;
}

#root {
	width: 20rem;
	height: 90%;

	border-radius: 10px;
}

header {
	width: 20rem;
	height: 20rem;
}

.profile-pic {
	width: 100%;
	height: 100%;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	object-fit: none;
	object-position: 60% 20%;
}
